.CustomerInfo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1px solid gray;
            order: 1px solid gray;
    padding-top: 3px;
}

.CustomerInfo * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.CustomerInfo body {
    font-family: 'Lato';
    width: 100vw;
    position: relative;
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.02);
}
