.CustomerName {
    width: 90%;
    margin: auto;
    height: 30%;
    padding: 3em 3em 1em;
    background: #eeeeee;
    border: 1px solid rgb(212, 231, 201);
}

.CustomerName fieldset {
    padding: 2px;
    margin: auto;
    height: 110px;
    width: 150px;
}

.NextButton {
    position: relative;
    top: 50px;
    padding: 0.5em 2em;
    color: white;
    background: rgb(109, 188, 252);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.NextButton:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0px 1px 6px 0px #62d9f7;
            box-shadow: 0px 1px 6px 0px #62d9f7;
}
